
{% extends 'base.html' %}
{% block content %}
<ol>
    <li>{{faves[0]}}</li>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/y9q0YX3E-o4?si=XNAjsXmD_S-R8eJt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <li>{{faves[1]}}</li>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/OElIuI83AGI?si=vyLJvmfKAKAB0H6G&amp;start=363" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <li>{{faves[2]}}</li>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/eKl6WjfDqYA?si=ml4qgD1oCRR7g6HD&amp;start=20" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <a href='https://gutenberg.org/cache/epub/8800/pg8800-images.html'>
    <li>{{faves[3]}}</li>
    </a>
    <li>{{faves[4]}}</li>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/bDDf_SuAlBA?si=aMjPBA7ZNGuQ69wL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</ol>
{% endblock %}
